.about {
    position: relative;
    margin-bottom: 15rem;

    .section-box {
        max-width: 154rem;
    }

    &__content {
        max-width: 98.5rem;
        background-color: rgba(#fff, 0.5);
        backdrop-filter: blur(1.5rem);
        box-sizing: border-box;
        padding: 7.2rem 11.5rem 11rem 9rem;
        border-radius: 0 10rem 10rem 10rem;

        @media #{$lg} {
            max-width: none;
            background-color: rgba(#fff, 0.7);
            backdrop-filter: none;
            padding: 1.2rem 1.4rem 0;
            border-radius: 0 5rem 5rem 5rem;
        }

        .title {
            margin-bottom: 3.2rem;

            @media #{$lg} {
                margin-bottom: 0.8rem;
            }
        }

        p {
            line-height: 2.5rem;
            color: $color-secondary;
            margin-bottom: 8rem;

            @media #{$lg} {
                font-size: 1.4rem;
                line-height: 2rem;
                margin-bottom: 0;
            }
        }

        .btn {
            @media #{$lg} {
                transform: translate(-2rem, 1rem);
            }
        }
    }

    &__info {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 54.8rem;
        height: 39.5rem;
        background: url(../images/about-img-3.jpg) no-repeat center / cover;
        box-sizing: border-box;
        padding: 1.5rem 2.5rem 3rem;
        border-radius: 0 10rem 10rem 10rem;
        margin: 8.5rem 0 0 67rem;

        @media #{$lg} {
            width: 25.5rem;
            height: 21rem;
            padding: 1rem 3rem 3rem 1.5rem;
            border-radius: 0 5rem 5rem 5rem;
            margin: 23.3rem 0 0 0;
        }

        &::before, &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 15rem;
            left: 0;
            pointer-events: none;

            @media #{$lg} {
                height: 10rem;
            }
        }

        &::before {
            background: linear-gradient(180deg, rgba(#1A2535, 0.8), transparent);
            border-radius: 0 10rem 0 0;
            top: 0;

            @media #{$lg} {
                border-radius: 0 5rem 0 0;
            }
        }

        &::after {
            background: linear-gradient(0deg, rgba(#1A2535, 0.8), transparent);
            border-radius: 0 0 10rem 10rem;
            bottom: 0;

            @media #{$lg} {
                border-radius: 0 0 5rem 5rem;
            }
        }

        h3 {
            font-family: $font-second;
            font-weight: 400;
            font-size: 10rem;
            color: #fff;
            text-transform: uppercase;
            z-index: 1;

            @media #{$lg} {
                font-size: 5rem;
            }

            span {
                font-family: $font-second;
                font-size: 10rem;
                color: #33ADF8;

                @media #{$lg} {
                    font-size: 5rem;
                }
            }
        }

        p {
            font-weight: 300;
            font-size: 3rem;
            color: #fff;
            margin-left: 3rem;
            z-index: 1;

            @media #{$lg} {
                font-size: 1.8rem;
                line-height: 1.5rem;
                text-align: right;
                width: max-content;
                margin-left: 0.5rem;
            }
        }
    }

    &__images {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;

        @media #{$xl} {
            width: 192rem;
            transform: translateX(-50%);
            left: 50%;
        }

        &__item {
            position: absolute;

            &::before {
                content: none;
                position: absolute;
                width: 10rem;
                height: 100%;
                top: 0;

                @media #{$xl} {
                    content: '';
                }
            }

            &:nth-child(1) {
                width: 82.8rem;
                height: 64.8rem;
                top: 0;
                right: 0;

                @media #{$lg} {
                    width: 30.2rem;
                    height: 42.5rem;
                    top: 0;
                }

                @media #{$md} {
                    top: 8rem;
                }

                @media #{$sm} {
                    top: 19.5rem;
                }

                &::before {
                    background: linear-gradient(-90deg, #F3F5F9, transparent);
                    right: 0;
                }
            }

            &:nth-child(2) {
                width: 82.8rem;
                height: 40.8rem;
                top: 55.5rem;
                left: 0;

                @media #{$lg} {
                    width: 22rem;
                    height: 17.5rem;
                    top: 28rem;
                }

                @media #{$md} {
                    top: 32rem;
                }

                @media #{$sm} {
                    top: 42rem;
                }

                &::before {
                    background: linear-gradient(90deg, #F3F5F9, transparent);
                    left: 0;
                }
            }

            img {
                object-fit: contain;
                object-position: center;
                width: 100%;
                height: 100%;
    
                &.desktop {
                    @media #{$lg} {
                        display: none;
                    }
                }
    
                &.mobile {
                    display: none;
    
                    @media #{$lg} {
                        display: initial;
                    }
                }
            }
        }
    }
}