.about-house {
    margin-bottom: 10rem;

    @media #{$lg} {
        margin-bottom: 4.5rem;
    }

    &__content {
        max-width: 66.5rem;

        @media #{$lg} {
            max-width: none;
            padding: 0 1.4rem;
            margin-bottom: 2rem;
        }

        *:not(.btn) {
            font-size: 1.6rem;
            line-height: 2.2rem;
            color: $color-secondary;

            @media #{$lg} {
                font-size: 1.4rem;
                line-height: 2rem;
            }
        }

        .btn {
            margin-top: 6rem;

            @media #{$lg} {
                display: none;
            }
        }
    }

    &__slider {
        position: absolute;
        width: 66.5rem;
        top: 0;
        right: 0;

        @media #{$lg} {
            width: calc(100% - 1.4rem);
            margin: 0 0.7rem;
        }

        @media #{$lg} {
            position: relative;
        }

        &__prev, &__next {
            position: absolute;
            width: 4.6rem;
            height: 4.6rem;
            background: url(../images/svg/about-house-slider-arrow.svg) no-repeat center / contain;
            transition: all .1s linear;
            transform: translateY(-50%);
            z-index: 1;

            @media #{$lg} {
                display: none;
            }

            &.swiper-button-disabled {
                filter: grayscale(1);
            }
        }

        &__prev {
            bottom: 50%;
            left: 1.2rem;
            rotate: 180deg;
        }

        &__next {
            top: 50%;
            right: 1.2rem;
        }
    }

    &__slide {
        a {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                object-fit: cover;
                object-position: center;
                width: 100%;
                height: 100%;
                border-radius: 2rem;
            }
        }
    }

    .slider-progressbar {
        display: none;
        margin-top: 6rem;

        @media #{$lg} {
            display: block;
        }
    }

    &__plan {
        margin-bottom: 8rem;

        @media #{$lg} {
            margin-bottom: 6.5rem;
        }

        .title {
            font-size: 6rem;
            margin-bottom: 3rem;

            @media #{$lg} {
                font-size: 3.5rem;
                margin-bottom: 1.5rem;
            }
        }

        &__content {
            background-color: #fff;

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: max-content;

                img {
                    object-fit: cover;
                    object-position: center;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}